In [9]:
import pandas as pd
df = pd.read_csv("./Database/Superstore-Sales.csv",encoding = "latin1")
numeric_col = df[['Sales','Discount','Profit','Shipping Cost','Unit Price']]
df_corr = numeric_col.corr()

                  Sales  Discount    Profit  Shipping Cost  Unit Price
Sales          1.000000 -0.019686  0.581960       0.434578    0.602521
Discount      -0.019686  1.000000 -0.037128      -0.001956    0.001332
Profit         0.581960 -0.037128  1.000000      -0.021362   -0.008854
Shipping Cost  0.434578 -0.001956 -0.021362       1.000000    0.239959
Unit Price     0.602521  0.001332 -0.008854       0.239959    1.000000

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns
fig = plt.figure(figsize=(18, 4))
gs = fig.add_gridspec(1,2)

sns.heatmap(
            ax = fig.add_subplot(gs[0,0]),
            data = df_corr
)

NameError: name 'figsize' is not defined