<div align="center">
<span style="color: red; font-size: 28px; font-weight: bold; text-shadow: 2px 2px 4px #888888;">
Group By in Pandas
</span>
</div>

In [6]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/PhilippeCodes/World-Happiness-Report-Data-Analysis/master/World%20Happiness%20Report.csv"
df = pd.read_csv(url)

#group by Region and select column then sum column based on region
df.groupby('Region')[['Economy','Health']].sum()

                  Economy     Health
Region
Africa          24.636956  11.634739
Asia-Pacific    45.548692  26.170008
Eastern Europe  26.086963  15.153235
Europe           0.894652   0.575904
Latin America   22.153578  13.442202
North America    3.025464   1.608844
Western Europe  27.965974  15.583026

<div align="center">
<span style="color: green; font-size: 18px; font-weight: bold; text-shadow: 1px 1px 2px #888888;">
üìò Explanation
</span>
</div>

#### 1Ô∏è‚É£ `df.groupby('Region')`
- Groups the entire DataFrame by the values in the `'Region'` column.

#### 2Ô∏è‚É£ `[["Economy", "Health"]]`
- Selects only the **'Economy'** and **'Health'** columns **from each group**.
- 
#### 3Ô∏è‚É£ `.sum()`
- Sums the values of `'Economy'` and `'Health'` for each region.